body {
  background: linear-gradient(to right, #001c55, #0a174e);
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

input, button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
